@import "../../style.scss";

.product-wrapper {
    @include themify($themes) {
        background-color: themed("bgSoft");
        color: themed("textColorSoft");
        padding: 10px 20px;

        .category {
            display: block;

            .category-heading {
                display: flex;
                justify-content: space-between;
                padding: 10px;

                span {
                    color: #5271ff;
                }
            }

            .products {
                display: flex;
                flex-flow: row;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                margin-bottom: 20px;
                padding-left: 10px;
            }
        }
    }
}